// Colors
$colors: (
  // Main Colors
        primary-color: (
                'pale-blue': rgb(224, 232, 255),
                'bright-blue': rgb(56, 41, 224),
                'bluish-purple': rgb(91, 81, 200),
        ),
  // Neutral Colors
        neutral-color: (
                'very-pale-blue': rgb(245, 247, 255),
                'pale-blue': rgb(224, 232, 255),
                'desaturated-blue': rgb(114, 128, 167),
                'dark-blue': rgb(31, 47, 86),
        ),
  // Other
        'background': rgb(224, 232, 255),
        'box-shadow-light': rgba(0, 0, 0, 0.05),
        'box-shadow-dark-1': rgba(56, 41, 224, 0.25),
        'box-shadow-dark-2': rgba(91, 81, 200, 0.25),
        'white': #ffffff,
        'black': #000000,
);