@use '../abstract/index' as a;

:root {
  @include a.map-to-root(clr, a.$colors);
}

main {
  display: grid;
  height: 100vh;
  background-image: url('../images/pattern-background-mobile.svg');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-color: var(--clr-background);

  & > * {
    place-self: center;
  }

  @include a.breakpoint(medium) {
    background-image: url('../images/pattern-background-desktop.svg');
  }
}

a {
  display: block;
  text-decoration: none;
}