.button {
  padding: 0.9rem;
  border-radius: 0.75rem;
  text-align: center;
  border: none;

  &--blue {
    width: 100%;
    color: var(--clr-white);
    background-color: var(--clr-primary-color-bright-blue);
    box-shadow: 5px 10px 15px var(--clr-box-shadow-dark-1);
    transition: background-color 0.1s ease;

    &:hover {
      box-shadow: 5px 10px 15px var(--clr-box-shadow-dark-2);
      background-color: var(--clr-primary-color-bluish-purple);
    }
  }

  &--no-bg-grey {
    color: var(--clr-neutral-color-desaturated-blue);
    background-color: transparent;
    transition: color 0.1s ease;

    &:hover {
      color: var(--clr-neutral-color-dark-blue);
    }
  }

  &--no-bg-dark-blue {
    color: var(--clr-neutral-color-dark-blue);
    background-color: transparent;
    transition: color 0.1s ease;

    &:hover {
      color: var(--clr-primary-color-bluish-purple);
    }
  }
}