// Colors
$colors: (
  // Main Colors
        primary-color: (
                'pale-blue': hsl(225, 100%, 94%),
                'bright-blue': hsl(245, 75%, 52%),
                'bluish-purple': hsl(245, 52%, 55%),
        ),
  // Neutral Colors
        neutral-color: (
                'very-pale-blue': hsl(225, 100%, 98%),
                'desaturated-blue': hsl(224, 23%, 55%),
                'dark-blue': hsl(223, 47%, 23%),
        ),
  // Other
        'background': #ffffff,
        'box-shadow': rgba(0,0,0, 0.05),
        'white': #ffffff,
        'black': #000000,
);